{% extends "layout.njk" %}

{% block content %}

  <main>
    <div class="conteudo">

      <img src="https://avatars3.githubusercontent.com/u/19537076?s=460&u=8ff8a19053f068efb26da729ef6723c0dfa2b008&v=4" alt="" class="avatar">

      <h1>Mussum Ipsum</h1>
      <h2>Mauris nec dolor</h2>

      <p class="descricao">
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
      </p>

      <div class="links-redes">
        <a href="http://" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Instagram</a>
      </div>

    </div>
  </main>

{% endblock %}