<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <title>Projeto Portfolio</title>
</head>

<body>

  <header>
    <nav>
      <a href="/">Sobre</a>
      <a href="/portfolio">Portfolio</a>
    </nav>
  </header>

  <main>
    <div class="cards">

      <div class="card" id="S9uPNppGsGo">
        <img src="img/video01.jpg" alt="">
        <p class="titulo-card">
          Curso Python #01 - Seja um Programador
        </p>

        <div class="links-card">
          <p>3 min</p>
          <p class="preco">FREE</p>
        </div>
      </div>

      <div class="card" id="Mp0vhMDI7fA">
        <img src="img/video02.jpg" alt="">
        <p class="titulo-card">
          Curso Python #02 - Para que serve o Python?
        </p>

        <div class="links-card">
          <p>3 min</p>
          <p class="preco">FREE</p>
        </div>
      </div>

      <div class="card" id="VuKvR1J2LQE">
        <img src="img/video01.jpg" alt="">
        <p class="titulo-card">
          Curso Python #01 - Seja um Programador
        </p>

        <div class="links-card">
          <p>3 min</p>
          <p class="preco">FREE</p>
        </div>
      </div>

    </div>
  </main>

  <div class="modal-overlay">
    <div class="modal">
      <p class="fechar-modal">[fechar]</p>
      <iframe src="" frameborder="0"></iframe>

    </div>
  </div>
  <!-- JAVASCRIPT -->
  <script src="js/script.js"></script>
</body>

</html>