{% extends "layout.njk" %}

{% block main %}
  <main>

    <section class="card" method="POST" action="/teachers?_method=PUT">
      <section class="card__avatar" style="background:url('{{ teacher.avatar_url }}') no-repeat center center / cover"></section>

      <section class="card__details">
        <form method="POST" action="/teachers?_method=PUT">
          <h1>Novo Professor(a)</h1>

          {% include "teachers/fields.njk" %}

          <input type="hidden" name="id" value="{{ teacher.id }}">

        </form>
        <form id="form-delete" action="/teachers?_method=DELETE" method="post">
          <input type="hidden" name="id" value="{{ teacher.id }}">
          <button type="submit">Delete</button>
        </form>
      </section>
    </section>
  </main>

  <script>
    const formDelete = document.querySelector('#form-delete');
    formDelete.addEventListener('submit', function (event) {
      const confirmation = confirm("Deseja Deletar?")

      if (!confirmation) {
        event.preventDefault();
      }
    })
  </script>
{% endblock %}